body {
  text-align: center;
  font-family: 'Open Sans';
  background-color: #33425B;
}

h1 {
    color: #fff;
    font-weight: 700;
    font-size:50px;
    margin-top:25px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 250px;
}

i {
    color: #fff;
    margin-right:10px;
}

i:hover {
    color:#5BAAEC;
}

.landing {
  text-align: center;
  margin-bottom:350px;
}

.title {
  text-align:left;
  margin-left:100px;
}

.item  {
    background-color: #5BAAEC;
    display: inline-block;
    width: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}

.item:hover {
    background-color:#33425B;
    color:#5BAAEC;
    transition:background-color 0.5s ease;
}